body{
    width: 600px;
}

h1{
    text-align: center;
}
input,p{
    display: inline-block;
    height: 16px;
}

input{
    width: 100px;
}

.numbers, .colorPie, .colorShower{
    display: inline-block;
}

.colorPie{
    text-align: left;
    position: relative;
    top: 0;
    left: 0;
}
.numbers{
    text-align: right;
    margin-left: auto; 
    margin-right: 0;
}

.pie{
    width: 256px;
    height: 256px;
    position: relative;
    top: 0;
    left: 0;
}

.selector{
    position: absolute;
    top: 120px;
    left: 120px;
    pointer-events:none;
}

.copyButton{
    vertical-align: middle;
    height: 16px;
    vertical-align: middle;
}

.copyButtonImage{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.colorShower{
    width: 100px;
    height: 16px;
    border: 2px;
    border-style: solid;
    border-color: black;
    vertical-align: middle;
}

.slider{
    vertical-align: middle;
}


#rSlider
{
    background-color: linear-gradient(to right, white, red);
}

#rSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}